html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Source Code Pro', monospace;
    background-color: whitesmoke;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    background-color: black;
    color: whitesmoke;
    font-size: 30px;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav {
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 0 50px;
}

nav li:hover {
    color: black;
    background: whitesmoke;
    transition: 0.5s;
}
/*
a:visited {
    color:whitesmoke;
}
*/

#main {
    position: relative;
    top: 85px;
    z-index: 0;
}

div.container h1 {
    margin-top: 0px;
    padding-top: 160px;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
}

#jumbotron {
    height: 700px;
    background-image: url('./images/bg.jpeg');
    background-size: cover;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;

}

p {
    font-size: 20px;
}

section h1 {
    padding-top: 30px;
    font-size: 40px;
    text-align: center;
    text-decoration-line: underline;
}

section p {
    width: 800px;
    padding: 5px 0;
    margin: auto;
}

figure {                
    text-align: center;
}
                        
figcaption {
    font-weight: 900;
    max-width: 1000px;
    margin: auto;
}
#skyline {
    width: 800px;
}

ul {
    text-align: center;
    padding-left: 0;
}

#projects li {
    padding: 15px 0;
}

#projects a {
    font-size: 24px;

}
/* apod.html*/
#image-title {
    text-align: center;
}

#month-select {
    text-align: center;
}

